<li class="card-header px-1">
<%= link_to gravatar_for(comment.user, size: 30), comment.user %>
<span class="comment-user"><%= link_to comment.user.full_name, user_path(comment.user)%> </span>
</li>
<li>
<span class="comment-user"><%= comment.content %></span>
</li>
<% if current_user == comment.user %>
<li class="link-delete-comment py-2">
<%= link_to "Delete Comment", comment, method: :delete, data: { confirm: "You sure?" } %>
</li>
<% end %>
