<div class="form-row p-3">
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :post_id, value: post.id %>

  <div class="col-7 mx-auto p-2 actions">
    <%= f.submit "I like it", class: "btn btn-primary" %>
  </div>
</div>