<h1>My Friends</h1>

<h3>My Friends</h3>
<%= render @friends %>
<h3>My Pending Friends</h3>
<%= render @pending_friends %>
<h3>People who requested to be friends</h3>
<%= render @friends_requests %>

    
