<h1>Friendships#index</h1>
<p>Find me in app/views/friendships/index.html.erb</p>
<h3>My Friends</h3>
<%= render @friends %>
<h3>My Pending Friends</h3>
<%= render @pending_friends %>
<h3>People who requested to be friends</h3>
<%= render @friends_requests %>

    
