@import "bootstrap";

/* universal */

body {
  margin: 0;
  padding: 0;
}
a {
    color:inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
    color: white;
}

.main-links{
    color: white;
    li {
        padding: 0 10px;
    }
}
.row {
    width: 100%;
}

.posts {
    a {
        color:blue;
    }
}

.card {
  width: 30rem;
  margin: 2px auto;
}

.like-unlike-btn {
  a {
    text-decoration: none;
    color: white;
  }
}

.link-delete-comment {
  font-size: 13px;
}

.timestamp {
  font-size: 12px;
}

.comment-user {
  font-size: 14px;
}

.main-content {
  background-color: #f8f9fa;
}

.alert {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}